@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Lobster&display=swap');

/* NAVBAR */
.navbar-brand{
    font-family: 'Lobster';
    font-weight: 500;
    font-size: 37pt;
}
.nav-link{
    font-size: 16pt;
    margin-right: 16px;
}
/* HEADER */
.img-fluid{
    display: inline-block;
    max-width: 100%;
    max-height: auto;
    padding: 9%;
    /* margin: 9%; */
}
.hero-content{
    padding:9%;
    margin-right: 9%;    
}
.display-4{
    font-weight: 700;
    font-size: 40pt;
    display: inline-block;
    border-bottom:1px solid #373a3c;
    padding-bottom: 5%;
}
.lead{
    font-weight: 700;
    font-size: 20pt;
    padding-bottom: 5%;
}
.btn-enviar{
    display: inline-block;
    font-size: 16pt;
    background-color:#ffffff ;
    color: #373a3c;
    text-decoration: none;
    padding: 10px 20px;
    border:1px solid #373a3c;

}
.btn-favoritos{
    display: inline-block;
    font-size: 16pt;
    background-color:#ffffff ;
    color: #373a3c;
    text-decoration: none;
    padding: 10px 20px;
    border:1px solid #373a3c;
}
/* CAROUSEL */
.carousel{
    padding: 3%;
}
.carousel-indicators .active{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
    background-color: #373a3c;
    margin-right: 5px;
}
.carousel-indicators #button{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
    background-color: #373a3c31;
    margin-right: 5px;
}
/* RECETA */
.receta{
    border-top: 2px solid #373a3c;
    width: 81%;
    margin-left: auto;
    margin-right: auto;
}
.card{
    border: none;
}
.card-title{
    font-size:20pt ;
    text-decoration: underline;
}
.card-text{
    font-size: 20pt;
}
/* RECETAS RELACIONADAS */
#receta-relacionada{
    text-align: center;
    font-weight: 700!important;
    font-size: 40pt;
}
.custom-card{
    margin: 9px;
}
/* SECCION NEWSLETTER */
.newsletter{
    background-color:#DC3545;
    padding: 9%;
    text-align: center;
    color: #ffffff;
}
span{
    display: inline;
    font-size:16pt;
}
#suscribe-brand{
    font-family: 'Lobster';
}
.btn-newsletter{
    font-size:16pt;
    text-decoration: none;
    background-color: #DC3545;
    border: 1px solid #ffffff;
    color: #ffffff;
    padding: 1%;
}
/* FOOTER */
footer{
    background-color: #373a3c;
    color: #ffffff;
    text-align: center;
    font-family: 'Lobster';
    font-size: 37pt;
    padding: 3%;
}